.PartItem_root {
    border: 0.0625rem solid #ccc;
    border-radius: 0.5rem;
    background-color: #f9f9f9;
    box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9375rem;
    padding: 0.9375rem;
    width: 21.875rem;
    transition: all 0.3s ease;
}

.PartItem_root:hover {
    box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}

.PartItem_name {
    margin-bottom: 0.625rem;
    font-size: 1.125rem;
    font-weight: bold;
}

.PartItem_inputAndSave {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PartItem_input {
    width: 15rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.3125rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.PartItem_input:focus {
    outline: none;
    border-color: #3498db;
}

.PartItem_button {
    margin-left: 0.625rem;
    height: 2.1875rem;
    padding: 0 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    background-color: #3498db;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.PartItem_button:hover {
    background-color: #2980b9;
}

.PartItem_part-name, 
.PartItem_material-name{
    margin-bottom: 0.3rem;
}
